n8n/workflows/exam-submit-notify.json
{
  "name": "ProctoLearn - Exam Submit Notifications",
  "nodes": [
    {
      "parameters": { "path": "proctolearn/exam-submit", "httpMethod": "POST", "responseMode": "responseNode", "options": {} },
      "id": "Webhook_ExamSubmit",
      "name": "🎯 Webhook: Exam Submit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 400]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst required = ['studentEmail','examTitle','score','attemptId'];\nconst missing = required.filter(f => body[f]===undefined||body[f]===null||body[f]==='');\nif (missing.length>0) throw new Error('Missing: '+missing.join(', '));\nconst score = parseFloat(body.score)||0;\nconst trust = parseFloat(body.trustScore)??100;\nreturn [{json:{...body,score,trustScore:trust,passed:score>=60,grade:score>=90?'A':score>=80?'B':score>=70?'C':score>=60?'D':'F',riskLevel:trust<30?'HIGH':trust<60?'MEDIUM':'LOW',processedAt:new Date().toISOString(),notificationId:'ntf_'+Date.now()}}];"
      },
      "id": "Code_Validate",
      "name": "⚙️ Code: Validate & Enrich",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 400]
    },
    {
      "parameters": {
        "conditions": { "string": [{ "value1": "={{$json.riskLevel}}", "operation": "equal", "value2": "HIGH" }] }
      },
      "id": "IF_HighRisk",
      "name": "🚨 IF: High Risk?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [540, 400]
    },
    {
      "parameters": {
        "jsCode": "const d=$input.first().json;\nconst msg=['🚨 *HIGH RISK EXAM*','','👤 '+d.studentEmail,'📝 Exam: '+d.examTitle,'📊 Score: '+d.score+'%  Grade: '+d.grade,'🛡️ Trust Score: *'+d.trustScore+'%*','⚠️ Risk: *HIGH*','🆔 AttemptID: `'+d.attemptId+'`','🕐 '+d.processedAt,'','⚡ Проверьте Evidence немедленно!'].join('\\n');\nreturn [{json:{...d,telegramMessage:msg}}];"
      },
      "id": "Code_TgAlert",
      "name": "📋 Code: Build Telegram Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 220]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "telegramApi",
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{$env.TELEGRAM_CHAT_ID||'-1001234567890'}}",
        "text": "={{$json.telegramMessage}}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "Telegram_Alert",
      "name": "📱 Telegram: Send Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [980, 220],
      "credentials": { "telegramApi": { "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "url": "http://opa:8181/v1/data/proctolearn/authz/allow",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": { "parameters": [{ "name": "input", "value": "={\"user\":{\"role\":\"student\",\"email\":\"{{$json.studentEmail}}\"},\"action\":\"submit_exam\",\"resource\":{\"trustScore\":{{$json.trustScore}}}}" }] },
        "options": { "timeout": 3000 }
      },
      "id": "HTTP_OPA",
      "name": "🔐 HTTP: OPA Policy Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 400]
    },
    {
      "parameters": {
        "conditions": { "boolean": [{ "value1": "={{$json.passed}}", "value2": true }] }
      },
      "id": "IF_Passed",
      "name": "✅ IF: Exam Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [980, 400]
    },
    {
      "parameters": {
        "jsCode": "const d=$input.first().json;\nconst code='CERT-'+d.examTitle.replace(/\\s+/g,'').substring(0,4).toUpperCase()+'-'+Date.now().toString(36).toUpperCase();\nconst url=`http://localhost:3001/certificates/verify/${code}`;\nreturn [{json:{...d,certificateCode:code,certificateUrl:url,issuedAt:new Date().toISOString(),emailSubject:`🎓 Поздравляем! Сертификат: ${d.examTitle}`,emailBody:`Здравствуйте, ${d.studentName||d.studentEmail}!\\n\\n✅ Вы сдали: ${d.examTitle}\\n📊 ${d.score}% | Оценка: ${d.grade}\\n🛡️ Trust: ${d.trustScore}%\\n🏆 Сертификат: ${code}\\n🔗 ${url}\\n\\nSpасибо, ProctoLearn`}}];"
      },
      "id": "Code_Cert",
      "name": "🏆 Code: Generate Certificate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "jsCode": "const d=$input.first().json;\nreturn [{json:{...d,emailSubject:`❌ Результат экзамена: ${d.examTitle}`,emailBody:`Здравствуйте, ${d.studentName||d.studentEmail}!\\n\\nВы не сдали: ${d.examTitle}\\n📊 ${d.score}% (нужно 60%)\\n📉 Оценка: ${d.grade}\\n🛡️ Trust: ${d.trustScore}%\\n\\nПопробуйте ещё раз!\\n\\nProctoLearn`}}];"
      },
      "id": "Code_FailMsg",
      "name": "📧 Code: Fail Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 500]
    },
    {
      "parameters": {
        "fromEmail": "no-reply@proctolearn.kz",
        "toEmail": "={{$json.studentEmail}}",
        "subject": "={{$json.emailSubject}}",
        "text": "={{$json.emailBody}}",
        "options": {}
      },
      "id": "Email_Student",
      "name": "📨 Email: Notify Student",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1420, 400],
      "credentials": { "smtp": { "name": "SMTP Account" } }
    },
    {
      "parameters": {
        "conditions": { "string": [{ "value1": "={{$json.riskLevel}}", "operation": "notEqual", "value2": "LOW" }] }
      },
      "id": "IF_Proctor",
      "name": "🛡️ IF: Notify Proctor?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1420, 560]
    },
    {
      "parameters": {
        "fromEmail": "no-reply@proctolearn.kz",
        "toEmail": "={{$json.proctorEmail||'proctor@proctolearn.kz'}}",
        "subject": "=[⚠️ {{$json.riskLevel}}] Attempt {{$json.attemptId}}",
        "text": "=Проктор!\n\nAttemptID: {{$json.attemptId}}\nСтудент: {{$json.studentEmail}}\nЭкзамен: {{$json.examTitle}}\nScore: {{$json.score}}% | Grade: {{$json.grade}}\nTrust Score: {{$json.trustScore}}%\nRisk: {{$json.riskLevel}}\nВремя: {{$json.processedAt}}\n\nПроверьте Evidence!",
        "options": {}
      },
      "id": "Email_Proctor",
      "name": "📩 Email: Proctor Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1640, 480],
      "credentials": { "smtp": { "name": "SMTP Account" } }
    },
    {
      "parameters": {
        "jsCode": "const d=$input.first().json;\nconst audit={timestamp:new Date().toISOString(),notificationId:d.notificationId,attemptId:d.attemptId,student:d.studentEmail,exam:d.examTitle,score:d.score,grade:d.grade,passed:d.passed,trustScore:d.trustScore,riskLevel:d.riskLevel,certificateCode:d.certificateCode||null,status:'PROCESSED'};\nconsole.log('[n8n AUDIT]',JSON.stringify(audit));\nreturn [{json:{...d,auditLog:audit,pipelineStatus:'SUCCESS'}}];"
      },
      "id": "Code_Audit",
      "name": "📝 Code: Audit Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify({ok:true,notificationId:$json.notificationId,attemptId:$json.attemptId,passed:$json.passed,grade:$json.grade,riskLevel:$json.riskLevel,certificateCode:$json.certificateCode||null,processedAt:$json.processedAt,pipeline:'exam-submit-notify v2'})}}",
        "options": {}
      },
      "id": "Respond_OK",
      "name": "✅ Respond: 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1860, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\":false,\"error\":\"Validation failed\"}",
        "options": { "responseCode": 400 }
      },
      "id": "Respond_400",
      "name": "❌ Respond: 400 Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [540, 600]
    }
  ],
  "connections": {
    "🎯 Webhook: Exam Submit":        { "main": [[{"node":"⚙️ Code: Validate & Enrich","type":"main","index":0}]] },
    "⚙️ Code: Validate & Enrich":     { "main": [[{"node":"🚨 IF: High Risk?","type":"main","index":0}]] },
    "🚨 IF: High Risk?": {
      "main": [
        [{"node":"📋 Code: Build Telegram Alert","type":"main","index":0}],
        [{"node":"🔐 HTTP: OPA Policy Check","type":"main","index":0}]
      ]
    },
    "📋 Code: Build Telegram Alert":  { "main": [[{"node":"📱 Telegram: Send Alert","type":"main","index":0}]] },
    "📱 Telegram: Send Alert":         { "main": [[{"node":"🔐 HTTP: OPA Policy Check","type":"main","index":0}]] },
    "🔐 HTTP: OPA Policy Check":      { "main": [[{"node":"✅ IF: Exam Passed?","type":"main","index":0}]] },
    "✅ IF: Exam Passed?": {
      "main": [
        [{"node":"🏆 Code: Generate Certificate","type":"main","index":0}],
        [{"node":"📧 Code: Fail Email","type":"main","index":0}]
      ]
    },
    "🏆 Code: Generate Certificate":  { "main": [[{"node":"📨 Email: Notify Student","type":"main","index":0}]] },
    "📧 Code: Fail Email":             { "main": [[{"node":"📨 Email: Notify Student","type":"main","index":0}]] },
    "📨 Email: Notify Student": {
      "main": [
        [{"node":"📝 Code: Audit Log","type":"main","index":0}],
        [{"node":"🛡️ IF: Notify Proctor?","type":"main","index":0}]
      ]
    },
    "🛡️ IF: Notify Proctor?": {
      "main": [
        [{"node":"📩 Email: Proctor Alert","type":"main","index":0}],
        [{"node":"📝 Code: Audit Log","type":"main","index":0}]
      ]
    },
    "📩 Email: Proctor Alert":         { "main": [[{"node":"📝 Code: Audit Log","type":"main","index":0}]] },
    "📝 Code: Audit Log":              { "main": [[{"node":"✅ Respond: 200 OK","type":"main","index":0}]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "versionId": "2"
}
